<% layout('layout/../boilerplate.ejs') %>

<div style="min-height: 88.8vh;">
    <center class="mt-4">
        <h2 class="mb-4">Change your Password</h2>
        <form action="/update-password/<%= u._id %>" method="post" class="validated-form" novalidate>
            <label for="np"><h5>New Password</h5></label>
            <input class="form-control mb-3" style="width: 12%; border: 1px solid black;" type="password" name="password_np" id="np" autofocus required>

            <label for="cp"><h5>Confirm Password</h5></label>
            <input class="form-control mb-4" style="width: 12%; border: 1px solid black;" type="password" name="password_cp" id="cp" required>

            <button class="btn btn-success">Change Password</button>
        </form>
    </center>
</div>
