<% layout('layout/../boilerplate.ejs') %>

<div style="min-height: 80.2vh;">
    <center class="mt-5">
    <form action="/otp-verification-page" class="validated-form" method="post" novalidate>
        <label for="" class="mb-1"><h2>Enter your Enrollment Number</h2></label>
        <input class="form-control mb-3" style="max-width: 11%;" type="text" name="enrollment" required autofocus>

        <button class="btn btn-success" type="submit">Submit</button>
    </form>
    </center>
</div>