<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pie Chart</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <center>
    <div>
        <h1>Pie Chart</h1>
    </div>
    <canvas id="myPieChart" style="max-width: 80%; max-height: 80vh;"></canvas>
  </center>

  <script>
    // Data from Node.js
    const pieData = <%- pieJsonData %>;
    const colors = [
      'rgba(0, 255, 0, 0.2)',
      'rgba(255, 255, 0, 0.5)',
      'rgba(128, 0, 0, 0.2)',
      'rgba(255, 0, 0, 0.3)',
      'rgba(0, 0, 255, 0.3)',
      'rgba(255, 0, 255, 0.4)',
      'rgba(25, 68, 46, 0.5)' // Add more colors as needed
    ];

    // Create pie chart
    const ctx = document.getElementById('myPieChart').getContext('2d');
    const myPieChart = new Chart(ctx, {
      type: 'pie',
      data: {
        labels: pieData.labels,
        datasets: [{
          label: 'Time (in sec)',
          data: pieData.values,
          backgroundColor: colors.slice(0, pieData.labels.length), // Use only required colors
          borderColor: colors,
          borderWidth: 1
        }]
      },
      options: {
        legend: {
          position: 'bottom', // Set legend position to bottom
          labels: {
            fontColor: 'white'
          }
        }
      }
    });
  </script>
</body>
</html>
