<% layout('layout/../boilerplate.ejs') %>

<div style="min-height: 85vh;">
    <div>
        <center class="mt-5">
            <h2>Emotion Recognition Data</h2>
        </center>
        <div class="container bg-dark" style="color: white; padding: 15px 20px; border-radius: 10px; font-size: 20px;">
            <div class="row mb-3">
                <div class="col fw-bold">Emotion</div>
                <div class="col fw-bold">Happy</div>
                <div class="col fw-bold">Neutral</div>
                <div class="col fw-bold">Sad</div>
                <div class="col fw-bold">Angry</div>
                <div class="col fw-bold">Fear</div>
                <div class="col fw-bold">Disgusting</div>
                <div class="col fw-bold">Surprise</div>
            </div>
            <hr>
            <div class="row">
                <div class="col fw-bold">Time</div>
                <div class="col">10 sec</div>
                <div class="col">20 sec</div>
                <div class="col">30 sec</div>
                <div class="col">40 sec</div>
                <div class="col">50 sec</div>
                <div class="col">60 sec</div>
                <div class="col">70 sec</div>
            </div>
        </div>
        <div class="container mt-5 bg-dark" style="color: white; padding: 15px 20px; border-radius: 10px; font-size: 20px;">
            <div class="row mb-3">
                <div class="col fw-bold">Charts</div>
                <div class="col fw-bold">Bar Graph</div>
                <div class="col fw-bold">Pie Chart</div>
                <div class="col fw-bold">Scatter Plot</div>
            </div>
            <hr>
            <div class="row">
                <div class="col fw-bold">Links</div>
                <div class="col"><a href="" class="link" style="text-decoration: none;">Open Bar Graph</a></div>
                <div class="col"><a href="" style="text-decoration: none;">Open Pie Chart</a></div>
                <div class="col"><a href="" style="text-decoration: none;">Open Scatter Plot</a></div>
            </div>
        </div>
    </div>
</div>